<!-- Toggleable sidebar -->
<div class="ct-p-5 ct-bg-grey-light" id="sidebar">
  <nav>
    <a class="ct-block ct-pb-3 ct-mb-3 ct-border-primary-normal ct-border-b {% if page.title == "Home" %} ct-font-bold{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    <ol>
    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <li><a class="ct-block ct-pb-3 ct-mb-3 ct-border-primary-normal ct-border-b {% if page.url == node.url %} ct-font-bold{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ forloop.index }}. {{ node.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
    </ol>

    <div class="ct-mb-10">
      <a class="ct-block" href="{{ site.github.repo }}">GitHub Project</a>
    </div>

    <div class="ct-text-sm">
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </div>
  </nav>
</div>
